[Unit]
Description=StreamOSC WebSocket Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/myapp/massdevserver
Environment="PATH=/var/www/myapp/massdevserver/venv/bin"
ExecStart=/var/www/myapp/massdevserver/venv/bin/python streamosc.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 